@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes slideInFromtop {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromright {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    7% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

 
body{
    color: black;
    background-color: #F6F4EF;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

@media (max-width:991px){
    input, input::-webkit-input-placeholder {
        font-size: 12px !important;
    }
    input, textarea::-webkit-input-placeholder {
        font-size: 12px !important;
    }
}

select:focus {
  outline: none;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    min-height: 150px;
    max-height: 1000px;
  }


ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style-type: none;
}
/* navbar start's here */
.navbar {
    background-color: #F6F4EF;
    padding: 0px;
}
.navbar-brand img{
     width: 138px;
     height: auto;
}
.navbar-brand {
    padding: 0px;
}

.navbar-inner {
    max-width: 1440px;
    margin: auto;
    padding: 32px 100px;
    align-items: flex-start !important;
}

.nav-item button {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 10px 15px;
    border-radius: 6px;
    background: #FBA32A;
    border: none;
}


@media (max-width:991px){
    .navbar-inner {
        padding: 16px;
    }
}
/* navbar end's here  */


/*  banner section start's here */

.home-section-bg{
    animation: 1s ease-out 0s 1 slideInFromtop;

}
.home-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 55px 121px;
    padding-bottom: 80px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.home-inner-container h1 {
    color: #1E1E1E;
    text-align: center;
    font-size: 80px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.home-inner-container p {
    color: #8A8A8A;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
}
.home-inner-container span {
    color: #64A47C;
}

.banner-img {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.upload {
    position: absolute;
    bottom: -17%;
    right: 6.5%;
    width: 13%;
}

.banner-img .bnnrimg{
   width: 80%;
   margin-bottom: -3.4%;
}



@media (max-width:991px){
    .home-inner-container {
        padding: 16px;
    }
    .home-inner-container h1 {
        font-size: 36px;
    }
    .home-inner-container p {
        font-size: 12px;
        margin: 5px;
        
    }
}


/*  banner section start's here */

/* /* swiper partner start */
.swiper-wrapper {
    max-width: 1440px;
    margin: auto;
    align-items: center;
    gap: 45px;
}
.swiper-container {
    width: 100%;
    height: fit-content;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.swiper-slide {
    width: 177.316px !important;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

}
.swiper-slide img{
width: 100%;
}
.swiper-pagination {
    display: none;
}


/* swiper partner end  */




/* partner-section-start */
.partner-bg{
    background: #1E1E1E;
    padding: 62px 0px 73px;
}
.partner-container {
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}
.partner-container h3 {
    color: #F3F3F3;
    text-align: center;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 40px;    
}
@media (max-width:991px){
    .partner-container h3 {
    font-size: 18px;
    padding-bottom: 20px;
    }
    .partner-bg {
        background: #1E1E1E;
        padding: 40px 0px 40px;
    }
}
/* partner-section-end */




/* key feature start */

.key-feature-bg {
    padding: 80px;
}
.feature-info h3{
    color: #1E1E1E;
    text-align: center;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    width: 30%;
    line-height: normal;
    margin: auto;
}

.feature-info h3 span {
    color:#64A47C;
    text-decoration: underline;
}

.feature-card{
    width: 307px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    /* position: relative;s */
}
.feature-card:hover {
    width: 307px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.349);
    transition: .5s cubic-bezier(0,0,.11,1);
}
.feature-img{
    width: 62px;
    background: rgba(255, 184, 0, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 12px;
}

.feature-img img {
    width: 40px; 
    height: 40px;
    margin: 13px;
    border-radius: 62px;
}
.feature-card h5 {
    color: #1E1E1E;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 9px;
}
.feature-card p {
    color: #777;
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
/* .feature-card:hover{
    box-shadow: rgba(0, 16, 60, 0.30) 3px 3px 18px 0px;
    background: white !important;
    padding: 2.5rem;
    will-change: transform;
    position: absolute;
    transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
    transform: perspective(1000px) rotateX(5.69632deg) rotateY(-1.63959deg) scale3d(1.03, 1.03, 1.03);
} */
.feature-gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    max-width: 1440px;
    margin: auto;
    margin-top: 64px;
}

@media (max-width:991px){
    .key-feature-bg {
        padding: 40px 16px;
    }
    .feature-info h3 {
        font-size: 18px;
        width: 80%;
    }
    .feature-gallery-container  {
        margin-top: 30px;
    }
    .feature-gallery-container {
        gap: 15px;
    }
}

/* key feature end  */


/* contact form section up yto date start*/
input[type="email"] {
    padding: 14px 28px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: #888686;
    font-size: 16px;
    /* font-family: Gothic A1; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
input[type="email"]::placeholder{
    color: #888686;
    font-size: 16px;
    /* font-family: Gothic A1; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:focus{
    outline: none;
}
textarea {
    padding: 14px 28px;
    border-radius: 8px;
    background: #FFF;
    border: none;

    color: #888686;
    font-size: 16px;
    /* font-family: Gothic A1; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
textarea::placeholder{
    color: #888686;
    font-size: 16px;
    /* font-family: Gothic A1; */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

textarea:focus{
    outline: none;
}
.uptodate-bg{
    padding: 40px 100px;
    background: #92C9A8;
}
.uptodate-container{
    max-width: 1440px;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}
.uptodate-info h1  {
    color: #FFF;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* width: 85%; */
    margin-bottom: 30px;
}
.uptodate-info h1 span {
    border-bottom: 4px solid; 
}
.uptodate-info p {
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 75%;
}
.uptodate-form form{
    display: flex;
    flex-direction: column;
    gap: 13px;
     width: 396px;
}
.uptodate-form button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    /* font-family: Gothic A1; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    padding: 14px 40px;
    border-radius: 8px;
    background: #FF9B12;

}
.uptodate-info a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    gap: 10px;
}
.uptodate-info a i{
    font-size: 24px;
    color: white;
    margin-top: 5px;
    width: 4%;
}
.uptodate-info a p{
   color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    /* margin: 20px 0px; */
    line-height: normal;
    text-align: left;
}

@media (max-width:590px){
    .uptodate-container {
        flex-direction: column;
    }
}

@media (max-width:991px){
    .uptodate-bg {
        padding: 40px 16px;
        background: #92C9A8;
    }
    .uptodate-form form{
         width: inherit;
    }
    .uptodate-form {
        width: 100%;
    }
    .uptodate-info {
        width: 100%;
    }
    .uptodate-info h1 {
        margin: auto;
        width: 100%;
        text-align: center;
        margin-bottom: 18px;
        font-size: 18px;
    }
    .uptodate-info p { 
        width: 100%;
        margin-bottom: 15px;
        font-size: 12px !important;
    }
    .uptodate-info a i{
        font-size: 12px;
        color: white;
        margin-top: 1px;
    }
    .uptodate-form button {
        font-size: 12px;
    }
}
/* contact form section up yto date end*/



/* GetKnow section start's here */

.GetKnow-main-container {
    max-width: 1440px;
    margin: 100px auto;
    padding: 0px 100px;
    position: relative;
}
.GetKnow-heading h3{
    color: #1E1E1E;
    text-align: center;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.GetKnow-heading span{
    color: #64A47C;
    border-bottom: 4px solid;
}
.GetKnow-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 62px;
}



.GetKnow-tags-img {
    width: 70%;
}
.GetKnow-tags-img video {
    width: -webkit-fill-available;
    border: 5px solid black;
    border-radius: 30px;
}
.GetKnow-tags-img img {
    width: 100%;
}

.GetKnow-tags li{
    position: relative;
    padding-left: 40px;
    color: #262626;
    transition: cubic-bezier(0, 0, 0.11, 1) 0.5s;
    font-size: 18.514px;
    font-family: Gothic A1;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 40px;
}
.GetKnow-tags li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 1.5px;
    background: #0D3125;
    transition: cubic-bezier(0, 0, 0.11, 1) 0.5s;
}

.GetKnow-tags li:hover {
    color:#fba32b;
    padding-left: 50px;
    transition: cubic-bezier(0, 0, 0.11, 1) 0.5s;
}

.GetKnow-tags li:hover::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background: #fba32b;
  }
  .GetKnow-tags li.active{
    color:#fba32b;
    padding-left: 50px;
  }
  .GetKnow-tags li.active::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 2px;
    background: #fba32b;
  }


  @media (max-width:991px){

.GetKnow-inner-container{
   flex-direction: column-reverse;
   margin-top: 18px;
}
.GetKnow-main-container {
    max-width: 1440px;
    padding: 40px 16px 30px;
    margin: 0px;
}
.GetKnow-tags-img{
    width: 100%;
}
.GetKnow-heading h3{
    font-size: 18px;
}
  }
/* GetKnow section end's here */


/*   <!-- Latest News start's here  --> */
.news-bg {
    background: #1E1E1E;
}
.news-main-container {
    max-width: 1440px;
    padding: 80px 77px 80px 121px;
    margin: auto;
}
.news-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.news-heading h3 {
    color: #FFF;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.news-heading h3 span {
    color: #64A47C;
    font-size: 56px;
    text-decoration: underline;
}
.news-cards-container .card {
    width: 303px;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 0px 23.6375789642334px 0px rgba(0, 0, 0, 0.10);
    border: none;
}

.news-cards-container .card p{
    color: rgba(59, 62, 64, 0.84);
    font-size: 11.819px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    line-height: 20.092px;
    margin-bottom: 0px;
}
.news-cards-container .card img {
    border-radius: 9px;
}
.news-cards-container .card a {
    color: rgba(59, 62, 64, 0.84);
    text-align: center;
    font-size: 11.057px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-decoration-line: underline;
    float: right;
    margin-top: 5px;
}
.news-cards-container .card-body {
    padding: 10px 12px 16px;
}
.news-cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.news-heading {
    margin-bottom: 40px;
}

@media (max-width:991px){
    .news-main-container{
        padding:  40px 16px;
    }
    .news-cards-container{
       flex-wrap: wrap;
       width: 100%;
    }
    .news-inner-container {
        flex-direction: column;
    }
    .news-heading h3 {
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .news-heading h3 span {
        font-size: 18px;
    }
    .news-heading {
        margin-bottom: 30px;
    }
}
/* <!-- Latest News end's here  --> */







/* for-you" start */
.for-you-bg{
    max-width: 1440px;
    margin: 20px auto 0px;
    padding: 0px 0 0px 100px;
}
.for-you-info h3{
    color: #1E1E1E;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 30px 0px;
}
.for-you-info span{
    color: #64A47C;
    border-bottom: 4px solid;
}
.for-you-content h5{
    color: #1E1E1E;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.for-you-content h1{
    color: #1E1E1E;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 28px;
}

@media (max-width:991px){
    .for-you-content h1{  
        font-size: 12px;
        margin-bottom: 12px;
        text-align: center;
    }
    .for-you-content ul li { 
        font-size: 10px !important;
    }
     .coin-sep {
        margin-bottom: 5px !important;
     }
     .coin-sep img  {
        width: 18px !important;
     }
}

.for-you-content ul li {
    color: #3E3E3E;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 29px; /* 161.111% */
}
.coin-sep {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    margin-bottom: 24px;
}
.coin-sep img {
    width: 24px;
}
.for-you-content  p {
    color: #777;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.for-you-content {
    margin: 20px 20px 30px;
}
.for-you-info {
    padding-right: 76px;
}
.for-you{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.for-you-img{
    width: 50%;
    position: relative;
    z-index: -2;
}
.for-you-img .beginer2{
    width: 100%;
    width: 100%;
    margin-bottom: -20.4%;
}
.pot{
    position: absolute;
    z-index: 0;
    width: 25%;
    bottom: -2%;
    left: -4%;
}

.pot img{
    width: 100%;
}
/* @media (max-width:1220px){
    .for-you {
        align-items: flex-end;
        justify-content: center;
    }
} */


@media (max-width:991px){
    .for-you-bg{
        max-width: 1440px;
        padding: 40px 0px 0px 16px;
        margin: 0px;
    }
    
  
    .for-you-info {
        padding-right: 0px;
    }
    .for-you-info h3{
        gap: 10px;
        padding: 0px;
        font-size: 18px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .for-you-content h5 {
        font-size: 12px;
        text-align: center;
    }
    .for-you-content p {
        font-size: 11px;
        text-align: center;
        margin-bottom: 0px;
    }
    .for-you-content {
        margin: 20px 20px 0px;
    }
}

@media (max-width:550px)
{
   .for-you-img {
        display: none;
    } 
    .for-you {
        justify-content: center;
    }
    .for-you-bg {
        padding: 40px 16px;
    }
    .pot{
        display: none;
    }
}
/* for-you" end */



/* Industry-Experts-start */

.Industry-Experts-bg {
    background: #64A47C;
    padding: 40px 0px;
}
.Industry-Experts-info h3 {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 44px;
    line-height: normal;
}

.carousel {
    width: 100%;
  }
  .slide {
    display: none;
    border-radius: 9.042px;
    background: #FFF;
    width: 282px !important;
    margin: 0px 56px;
    padding: 21px 24px;
  }
  .slide h5 {
    color: #413D45;
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 27.127px;
    letter-spacing: -0.527px;
  }
  .slide h6{
    color: #67646A;
    font-size: 9.796px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 13.563px;
    letter-spacing: -0.105px;
  }
  .slide p{
    color: #413D45;
    font-size: 8.289px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 12.056px;
    letter-spacing: -0.09px;
    margin: 0px;
  }
  .carousel button {
    display: none !important;
  }
  .slick-track{
    display: flex;
}

  @media (max-width:1178px){

    .slide {
        margin: 15px;
        padding: 16px;
        width: 210px !important;
    }
    .slide h5 {
        font-size: 12px;
        line-height: inherit;
    }
    .Industry-Experts-bg {
        padding: 16px 0px;
    }
    .Industry-Experts-info h3{
        padding: 15px;
        font-size: 18px;
    }
    .slide svg {
        width: 40px;
    }
  }
/* Industry-Experts-end */


/* our-offering start's here */
.our-offering {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 100px;
    position: relative;
    max-width: 1440px;
    margin: auto;
}
.offering-img {
    width: 30%;
}
.offering-img img {
    width: 100%;
}
.offering-heading h1 {
    color: #1E1E1E;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 30%;
}
.offering-heading span{
    color: #64A47C;
    border-bottom: 4px solid;
}
.offering-info {
    width: 55%;
    margin: 100px 0px;
}
.offering-content p{
    color: #777;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px 0px;
}
.offering-img {
    position: relative;
}
.rupee {
    position: absolute;
    z-index: -1;
    bottom: 10%;
    width: 42%;
    right: -27%;
}
@media (max-width:590px){
    .our-offering {
        padding: 0 16px;
        flex-direction: column-reverse;
    }
}

@media (max-width:991px){

    .offering-info{
        width: 100%;
        margin: 0px;
    }
    .offering-content p {
        margin: 30px 0;
    }
    .offering-heading h1 {
        color: #1E1E1E;
        font-size: 18px;
        font-family: Inter;
        font-style: normal;
        text-align: center;
        font-weight: 600;
        line-height: normal;
        width: inherit;
    }
    .offering-content p {
        font-size: 12px;
        text-align: center;
    }
    .offering-img {     
        /* width: 60%; */
        margin: auto;
    }
    /* .rupee {
        position: absolute;
        z-index: -1;
        bottom: -10%;
        width: 40%;
        right: -34%;
    } */
}
@media (max-width:525px){
    .offering-img {     
        width: 40%;
        margin: auto;
    }
}

/* our offering end's here */

.GetKnow-tags-box P{
    margin-bottom: 0px;
}

.GetKnow-tags-dropdown{
    display: none;
}

.dropdown-main-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}
.dropdown-language {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    height: fit-content;
    position: absolute;
    top: -53px;
}
.dropdown-language select {
    border: none;
    background-color: transparent;
    padding: 0px 40px 0px 0px;
}
.GetKnow-tags-box {
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
/* .GetKnow-inner-container{
    display: block;
} */
@media (max-width:990px){
    .GetKnow-tags-dropdown{
        display: block;
        width: 100%;
        order: 1;
    }
    .dropdown-language {
        position: initial;
    }
    /* .GetKnow-tags{
        display: none;
    } */
    #mob-hide-list {
        display: none;
    }

    .GetKnow-tags-img video {
        width: -webkit-fill-available;
        border: 2.5px solid black;
        border-radius: 7px;
    }
    .dropdown-language{
        order: 2;
    }
    .GetKnow-tags li{
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .GetKnow-tags-box p{ 
       font-size: 12px;
       font-weight: 500;
    }
    .dropdown-language {
        font-size: 12px;
        font-weight: 500;
    }
    .dropdown-main-container {
        margin-top:25px;
    }
    .dropdown-language select {
        padding: 0px 5px 0px 0px;
    }
}

.GetKnow-tags-list-drop  {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 0px;
}

#resizableTextarea {
    resize: vertical; 
    min-height: 50px; 
  }
  

  #popup{
    animation: 0.20s ease-out 0s 1 slideInFromright;
    min-width: 250px;
    margin-left: -125px;  
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 3%;
    top: 30px;
    border-left: 6px solid #0b008e;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.495);
    /* display: flex;
    gap: 10px;
    align-items: center; */
  }

  #popup p{
    margin: 0px;
    color: #0b008e;
    text-align: left;
    font-weight: 600;
  }


  /* style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" */

  /* style="text-align: center; font-size: 18px; font-weight: bold;" */